.App {
    height: 100vh;
}

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 425px;
    margin: 10px auto;
}

h4 {
    font-size: 0.9rem;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0 0 10px;
    border-bottom: 1px solid black;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
    margin-left: 10px;
    height: 100%;
    /* padding-top: 10px; */
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

button {
    margin: 5px auto;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}

button:hover {
    cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-button {
    height: 35px;
    width: 100%;
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid black;
    z-index: 99;
    margin-right: -2px;
}

.select-button:hover {
    background-color: black;
    color: white;
}

.random-button {
    height: 35px;
    width: 40%;
    margin-left: 5px;
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid black;
    z-index: 99;
    margin-right: -2px;
}

.random-button:hover {
    background-color: black;
    color: white;
}

.submit-button {
    width: 400px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 30px;
    font-family: "Inter", sans-serif;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 99;
    margin-left: -2px;
    width: 100%;
}

.response-length-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response-length {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    width: 19%;
    font-weight: 100;
}

.selected {
    color: white;
    background-color: black;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 6rem;
    font-weight: 100;
    margin-right: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.stock-input-wrapper {
    position: relative;
    z-index: 99;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-box {
    border: 1px solid black;
    height: 100px;
    width: 398px;
    margin-top: -25px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.stock-name-display {
    font-weight: 100;
}

.stock-price-display {
    font-weight: 100;
    font-size: 2rem;
}

.or {
    font-weight: 100;
    font-size: 1.5rem;
}

.share-container {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.share-container p {
    text-align: left;
}

.share-button {
    width: 400px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: black;
}

.arrow {
    width: 15%;
    height: 100%;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.arrow img:hover {
    cursor: pointer;
}

.main-spinner {
    height: 50px;
    margin-bottom: -50px;
}

.small-spinner {
    height: 50px;
}

.hide {
    visibility: hidden;
}
/* 
.stock-title {
    margin-bottom: -10px;
} */

.countdown-wrapper {
    width: 70%;
    margin-top: -300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-wrapper > h3 {
    margin: 0;
    padding: 0;
}

.copied {
    margin: 5px;
}

.no-click:hover {
    cursor: not-allowed;
}

.expired {
    opacity: 0.3;
}

.value-display {
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: black;
    margin-top: 5px;
    width: 95%;
    padding: 2%;
    text-align: center;
}

.secondary-vote {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary-value-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: -15px;
}

.secondary-value-button:hover {
    color: white;
    background-color: black;
}

.disabled {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}

.disabled:hover {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
    cursor: not-allowed;
}

.not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
