.App {
    max-height: 100vh;
}

.lower-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 425px;
    margin: 10px auto;
}

h4 {
    font-size: 0.9rem;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid black;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
    margin-left: 10px;
    padding-top: 10px;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

button {
    margin: 5px auto;
    width: 50%;
    max-width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}

button:hover {
    cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-button {
    height: 35px;
    width: 20%;
    margin-left: 5px;
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid black;
    z-index: 99;
    margin-right: -2px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.select-button:hover {
    background-color: black;
    color: white;
}

.submit-button {
    background-color: rgb(180, 180, 180, 0.4);
}

.submit-button:hover {
    background-color: rgb(180, 180, 180, 1);
}

input {
    height: 30px;
    font-family: "Inter", sans-serif;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 99;
    margin-left: -2px;
    width: 60%;
}

.response-length-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response-length {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    width: 19%;
    font-weight: 100;
}

.selected {
    color: white;
    background-color: black;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 6rem;
    font-weight: 100;
    margin-right: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.stock-input-wrapper {
    position: relative;
    z-index: 99;
    width: 400px;
}

.stock-box {
    border: 1px solid black;
    height: 100px;
    width: 398px;
    margin-top: -25px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.stock-name-display {
    font-weight: 100;
}

.stock-price-display {
    font-weight: 100;
    font-size: 2rem;
}

.or {
    font-weight: 100;
    font-size: 1.5rem;
}

.share-container {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.share-container p {
    text-align: left;
}

.share-button {
    width: 400px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: black;
}

.arrow {
    width: 15%;
    height: 100%;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.arrow img:hover {
    cursor: pointer;
}

.main-spinner {
    height: 50px;
}

.small-spinner {
    height: 50px;
}
