.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
}

.lower-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5px;
    max-width: 425px;
    margin: 10px auto;
}

h4 {
    font-size: 0.9rem;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    height: 10vh;
    width: 100%;
    /* padding: 10px; */
    border-bottom: 1px solid #0a0d1e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    min-width: 150px;
    width: 22%;
    max-width: 220px;
    margin-left: 2%;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
    margin-left: 10px;
    height: 100%;
}

h3 {
    font-family: "Bai Jamjuree", sans-serif;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 400;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.stock-title {
    font-size: 2.4rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

button {
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 200;
    font-size: 0.9rem;
    font-family: "Bai Jamjuree", "Inter", sans-serif;
}

button:hover {
    cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-button {
    background-color: transparent;
    color: #000;
    border: 1px solid #0a0d1e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    font-size: 2rem;
    font-weight: 800;
}

.value-button:hover {
    background-color: #0a0d1e;
    color: white;
}

.select-button {
    width: 100%;
    background-color: white;
    border: 1px solid #0a0d1e;
    font-weight: 600;
    font-size: 2.2rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.select-button:hover {
    background-color: #0a0d1e;
    color: white;
}

.random-button {
    height: 35px;
    width: 40%;
    margin-left: 5px;
    font-size: 1.4rem;
    background-color: white;
    border: 1px solid #0a0d1e;
    z-index: 99;
    margin-right: -2px;
}

.random-button:hover {
    background-color: #0a0d1e;
    color: white;
}

.submit-button {
    width: 400px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #0a0d1e;
    background-color: white;
    border: 1px solid #0a0d1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 30px;
    font-family: "Bai Jamjuree", "Inter", sans-serif;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #0a0d1e;
    z-index: 99;
    margin-left: -2px;
    width: 100%;
}

.response-length-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.response-length {
    background-color: transparent;
    border: 1px solid #0a0d1e;
    border-radius: 5px;
    width: 18%;
    font-weight: 200;
    font-size: 1.2rem;
    height: 35px;
}

.response-length:hover {
    background-color: #0a0d1e;
    color: white;
}

.selected {
    color: white;
    background-color: #0a0d1e;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.number {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 10rem;
    font-weight: 200;
    margin-right: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 100%;
}

.stock-input-wrapper {
    position: relative;
    z-index: 99;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-box {
    border: 1px solid #0a0d1e;
    height: 100px;
    width: 398px;
    margin-top: -5px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.stock-display-container {
    width: 100%;
}

.stock-name-display {
    font-weight: 200;
}

.stock-price-display {
    font-weight: 200;
    font-size: 1.5rem;
}

.or {
    font-weight: 200;
    font-size: 2rem;
    font-family: "Bai Jamjuree", sans-serif;
}

.share-container {
    border: 1px solid #0a0d1e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px;
    width: 100%;
    margin-bottom: 10px;
}

.share-container p {
    text-align: left;
}

.share-button {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-weight: 800;
    font-size: 2.5rem;
    height: 60px;
}

.arrow {
    width: 15%;
    height: 100%;
    background-color: transparent;
    color: #0a0d1e;
    display: flex;
    align-items: center;
    /* padding: 10px; */
}

.arrow img:hover {
    cursor: pointer;
}

.main-spinner {
    height: 50px;
    margin-bottom: -50px;
}

.small-spinner {
    height: 50px;
}

.hide {
    visibility: hidden;
}

.countdown-wrapper {
    width: 70%;
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-wrapper > h3 {
    margin: 0;
    padding: 10px;
    font-size: 1.3rem;
}

.copied {
    margin: 5px;
    font-size: 1.5rem;
}

.no-click:hover {
    cursor: not-allowed;
}

.expired {
    opacity: 0.3;
}

.value-display {
    border-radius: 5px;
    border: 1px solid #0a0d1e;
    color: #0a0d1e;
    background-color: white;
    margin-top: 5px;
    text-align: center;
    width: 398px;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 400;
    font-size: 2rem;
}

.secondary-vote {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary-value-button {
    background-color: #0a0d1e;
    color: white;
    border: 1px solid #0a0d1e;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 800;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 2rem;
}

.secondary-value-button:hover {
    color: #0a0d1e;
    background-color: white;
}

.not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.phone-input {
    width: 100%;
    margin-bottom: 10px;
}

.PhoneInputInput {
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
    margin-left: 3px;
    height: 40px;
}

.phone-button {
    width: 100%;
    border: 1px solid #0a0d1e;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-button:hover {
    background-color: #0a0d1e;
    color: white;
}

.phone-error {
    height: 30px;
    font-weight: 400;
    color: red;
}

.disabled {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}

.disabled:hover {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
    cursor: not-allowed;
}

table {
    font-family: "Bai Jamjuree", "sans-serif";
    width: 90%;
    margin: 0 auto;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    font-size: 1.1rem;
    font-weight: 200;
}

.choose-stock-table {
    width: 100%;
}

.right {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
    }

    .number {
        margin-right: 5px;
        font-size: 6rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    button {
        font-size: 1rem;
    }

    .lower-wrapper {
        flex-direction: column-reverse;
    }

    .arrow {
        width: 50%;
        justify-content: center;
        margin-top: 50px;
    }

    .card {
        width: 90%;
    }

    .response-length-container {
        flex-wrap: wrap;
    }

    .response-length {
        width: 80%;
        margin: 1px;
    }

    .countdown-wrapper {
        width: 95%;
    }

    .countdown-wrapper > h3 {
        font-size: 1rem;
    }

    .layout {
        width: 95%;
    }

    .content {
        min-width: 0;
    }

    .stock-title {
        font-size: 1.7rem;
    }

    .copied {
        font-size: 1.2rem;
    }

    .button-container {
        flex-direction: column;
    }

    .logo {
        margin-left: 0;
    }
}
